*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f5f5f5;
}
.tool-container{
    width: 60%;
    display: grid;
    gap: 0;
}
.textbox-container {
    display: flex; /* Enables flexbox layout */
    justify-content: flex-start; /* Aligns items to the start of the container */
}
.flex-textbox-container {
    display: flex;
    justify-content: space-between; /* Ensures space between the divs */
}

.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
.tool--btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}
.tool--btn:hover{
    background-color: #dddddd;
}
#output1 {
    height: 400px;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
}

#output2 {
    height: 400px;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
}