/* Root Variables */
:root {
    --white: #ffffff;
    --light-blue: #a3d0d6;
    --very-light-blue: #e7f1f2;
    --primary-green: #00a79d;
    --dark-green: #069295;
    --font-family: 'Poppins', sans-serif;
    --header-height: 60px;
    --black: #000000

}


*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 800vh; 
    margin: 0; 
    background-color: #A3D0D6;
}
.side-by-side-container {
    padding: 20px;
    
        display: flex; 
        justify-content: space-between; 
        width: 100%; 
}
.tool-container{
    width: 60%;
    display: grid;
    gap: 20px;
    background-color: #000;
        
}
.textbox-container {
    display: flex; 
    justify-content: flex-start;
}


.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
.tool--btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}
.tool--btn:hover{
    background-color: #dddddd;
}

#output1, #output2 {
    flex: 1;
    width: 80%; 
height: 80vh; 
    padding: 10px;     
    border: 1px solid #333; 
    border-radius: 5px; 
    background-color: white; 
}